* {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
h1 {
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 48px;
    padding: 20px;
}

h2 {
    font-size: 36px;
    margin: 12px 0px;
}
li {
    list-style-position: inside;
}

#recipes, li, h2 {
    padding-left: 40px;
}

ul li, ol li, p  {
    padding-left: 80px;
    font-size: 20px;
}
img {
    margin: auto;
    display: block;
}
.home-button {
    background-color: grey;
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding: 40px 50px;
    display: block;
    margin: 0px 92% 0px 0;
}
.content {
    background-color: rgb(245, 221, 66);
    padding: 20px 0px;
    margin: 12px 0px;
}
div.block {
    background-color: black;
    color: white;
    padding: 12px 0px;
    margin: 0px 48px;
}
